body{
    margin:0;
    padding:0;
    border: 0;
    background-color: #a2f1ff57;
}

.menu li{
    display: inline;
    margin: 20px;
}

.menu ul{
    margin-left: 30%;
}

.menu{
    color: white;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    width: 80%;
    background-color: #00026b;
    padding-left: 20%;
}

.presentation{
    display: flex;
    text-align: center;
    padding-top: 4% ;
    padding-left: 12%;
    height: 300px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    background-color: #c4c0e279;
}

.text{
    font-size: 20px;
    width: 500px;
}

.text p{
    margin: 0%;
}

.data{
    margin-left: 18%;
}

.profileImg{
    margin-left: 5%;
    height: 170px;
    width: 180px;
    border-style: double;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 50px 50px 200px;
}

.card{
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    margin-top: 20px;   
    background-color: #a6c6f079;
    width: 450px;
    border-style: dotted;
}

.card img{
    margin-left: 5%;
    width: 400px;
    height: 250px;
}

.card h1{
    text-align: center;
}

.card p{
    font-size: 20px;
    text-align: center;
}

.card a{
    font-size: 20px;
    text-align: center;
    margin-left: 40%;
}

footer{
    display: flex;
    font-size: 20px;
    padding-left: 80px;
    padding-top: 10px;
    height: 100px;
    margin-bottom: 0%;
    background-color: #c4c0e279;
}

footer .content{
    margin-left: 10%;
}

footer .link{
    margin-top: 25px;
    margin-left: 30%;
}