body{
    margin:0;
    padding:0;
    border: 0;
    background-color: #a2f1ff57;
}

.menu li{
    display: inline;
    margin: 20px;
}

.menu ul{
    margin-left: 30%;
}

.menu{
    color: white;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    width: 80%;
    background-color: #00026b;
    padding-left: 20%;
}

.presentation{
    display: flex;
    text-align: center;
    padding-top: 4% ;
    padding-left: 12%;
    height: 300px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    background-color: #c4c0e279;
}

.text{
    font-size: 20px;
    width: 500px;
}

.text p{
    margin: 0%;
}

.data{
    margin-left: 18%;
}

.profileImg{
    margin-left: 5%;
    height: 170px;
    width: 180px;
    border-style: double;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2% 5% 10% 10%;
}

.card{
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    margin-top: 20px;   
    background-color: #a6c6f079;
    width: 450px;
    border-style: dotted;
}

.card img{
    margin-left: 5%;
    width: 400px;
    height: 250px;
}

.card h1{
    text-align: center;
}

.card p{
    font-size: 20px;
    text-align: center;
}

.card a{
    font-size: 20px;
    text-align: center;
    margin-left: 40%;
}

footer{
    display: flex;
    font-size: 20px;
    padding-left: 80px;
    padding-top: 10px;
    height: 100px;
    margin-bottom: 0%;
    background-color: #c4c0e279;
}

footer .content{
    margin-left: 10%;
}

footer .link{
    margin-top: 25px;
    margin-left: 30%;
}

@media (max-width:1150px){
    
    body{
        background-color: #a2f1ff57;
    }

    .menu{
        color: white;
        font-weight: bold;
        font-size: 30px;
        padding-left: 0%;
        display: flex;
        width: 500px;
        background-color: #00026b;
    }

    .menu p{
        margin-left: auto;
        margin-right: auto;
    }

    .text{
        font-size: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .projects{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 2% 5% 0% 0%;
        width: 500px;
    }
    
    .menu ul{
        display: none;
    }

    .presentation{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        height: min-content;
        width: 500px;
        padding-left: 0%;
        padding-right: 0%;
        background-color: #c4c0e279;
    }

    .text p{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .data{
        margin-left: 0%;
        width: 200px;
        margin-left: 25%;
        margin-right: auto;
    }

    footer{
        display: block;
        padding-left: 0px;
        font-size: 20px;
        height: min-content;
        margin-top: 3%;
        width: 500px;
        background-color: #c4c0e279;
        text-align: center;
    }

    footer .content{
        margin-left: 0%;
    }

    footer .link{
        margin-top: 25px;
        margin-left: 0%;
    }

    .card{
        padding: 10px 10px 10px 10px;
        margin-left: 20px;
        margin-top: 20px;   
        background-color: #a6c6f079;
        width: 86%;
        border-style: dotted;
    }
    
    .card img{
        margin-left: 5%;
        width: 350px;
        height: 200px;
    }
    
    .card h1{
        text-align: center;
    }
    
    .card p{
        font-size: 20px;
        text-align: center;
    }
    
    .card a{
        font-size: 20px;
        text-align: center;
        margin-left: 40%;
    }
}